# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Ignore collected static files (from collectstatic)
staticfiles/

# But keep app-level static files
!static/
!static/css/
!static/js/

#ignore images
images/

# Compiled translation files
*.mo

# Django migrations (optional)
# You can track them if needed
# **/migrations/*.pyc

# Local settings (optional, if you use it)
# local_settings.py

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# db files
db.sqlite3
*.sqlite3
